body{
    font-family: 'Poppins', sans-serif;
}

/* top bar stylings starts */

    .top-bar h2{
        color: #48CAE4;
    }
    
    .top-bar a{
        color: #A49F96;
    }

    .top-bar a:hover{
        color: #48CAE4;
    }

/* top bar stylings ends */

/* Nav bar stylings starts */

    nav.navbar{
        padding-top: 0px!important;
        padding-bottom: 0px!important;
    }

    nav.navbar a{
        padding-top: 30px!important;
        padding-bottom: 30px!important;
    }

    nav.navbar li:hover{
        background-color: #48CAE4;
    }

/* Nav bar stylings ends */

/* Main slider section starts */
    .main-slider img{
        max-height: 70vh;
    }

    .main-slider .carousel-caption{
        background-color: #48CAE4;
        padding-top: 30px;
        padding-bottom: 30px;
        /* color: #A49F96; */
    }
/* Main slider section ends */


/* Program styling starts */
    .program img{
        height: 300px;
        opacity: .8;  
    }

    .program .card:hover img{
        opacity: 1;
    }

    .program .card:hover .card-body{
        background-color: #48CAE4;
        color: #ffffff;
    }
/* Program styling ends */

/* Ticket section stylings */
    .tickets{
        padding-top: 150px;
        padding-bottom: 150px;
        background: linear-gradient(45deg, #48cae401, #48cae4, #48CAE401), url('./images/2.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        
}
/* Ticket section stylings */

/* Timetable section stylings  */
    .timetable{
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .timetable p.title{
        background-color: #48CAE4;
        color: #ffffff;
    }

    .timetable img{
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
/* Timetable section stylings ends */